.about .about-div {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.about h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000081;
  font-size: 22px;
}
.about .about-img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
}
.about .about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: linear-gradient(
    to top,
    rgba(236, 204, 20, 0.795),
    rgba(255, 255, 255, 0.712)
  );
}
.about p {
  font-size: 20px;
  text-transform: capitalize;
  max-width: 500px;
  text-align: justify;
  margin-bottom: 10px;
  padding: 10px;
}
.about p span {
  background: linear-gradient(
    to right,
    rgba(236, 204, 20, 0.795),
    rgba(255, 255, 255, 0.712)
  );
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 5px;
}

.about .social-media{
  padding-left: 4px;
  font-size: 30px;
}