.footer {
  background-color: black;
  padding: 20px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 0 0;
}
.footer p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.445);
}
.footer p span {
  color: white;
}
